body{
  font-family: 'Times New Roman', Times, serif;
  background-color: azure;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form{
  background-color: rgb(243, 236, 231);
  padding: 40px;
  border-radius: 20px;
  width: 400px;
}

input, textarea{
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border-color: black;
  margin: 10px 0;
  font-size: 15px;
}

button{
  width: 100%;
  padding: 12px;
  background-color: aliceblue;
  color: black;
  font-size: 16px;
  border: none;
  cursor:pointer;

}

button:hover{
  background-color: beige;
}

#tooltip{
  font-size: 14px;
  color: gray;
  margin-top: -5px;
}

#feedback-display{
  margin-top: 20px;
  font-size: 16px;
  color: black;
  text-align: center;
}